body {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

h2 {
  font-size: 50px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .containerbce{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .containerbce .noi-dung{
    margin-right: 30px;
}

footer  .containerbce .noi-dung.about{
    width:40%;
}
footer .containerbce .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .containerbce .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer .containerbce .noi-dung.about p{
    color: #999;
}

  .comments_rule_bcetools {
    background: #f4f4f4;
    color: #666;
    clear: both;
    text-align: left;
    margin: 0;
    padding: 15px 20px;
    position: relative;
    border-radius: 10px 10px 0 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.comments_rule_bcetools h2 {
    font: 500 16px Roboto;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #66689c;
    margin: 0 0 5px 0
}
.comments_rule_bcetools p {
    margin: 0;
    padding: 0;
    font: 400 16px Roboto;
    line-height: 1.75
}
.comments_rule_bcetools p:before {
    content: "
    \f105"
    ;
    margin: 0 10px 0 0;
    font-family: fontawesome
}
.comments_rule_bcetools a {
    font-weight: 500;
    font-size: 16px
}
.comments_rule_bcetools a:hover {
    text-decoration: underline
}
.comment-footer {
    float: left
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
.links h2::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f00;
 }
.links{
    position: relative;
    width: 25%;
 }
 .links ul li{
     list-style: none;
 }
 .links ul li a{
     color: #999;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 }
.links ul li a:hover{
     color: #fff;
 }

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

@media  (max-width: 768px){
    footer{
        padding: 40px;
        
    }
    footer .containerbce{
        flex-direction: column;
    }
    footer .containerbce .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .containerbce, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}

  #comments_rule_bcetools {
    background: #f4f4f4;
    color: #666;
    clear: both;
    text-align: left;
    margin: 0;
    padding: 15px 20px;
    position: relative;
    border-radius: 10px 10px 0 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
#comments_rule_bcetools h2 {
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #66689c;
    margin: 0 0 5px 0
}
#comments_rule_bcetools p {
    margin: 0;
    padding: 0;
    line-height: 1.75
}
#comments_rule_bcetools p:before {
    content: "
    \f105"
    ;
    margin: 0 10px 0 0;
    font-family: fontawesome
}
#comments_rule_bcetools a {
    font-weight: 500;
    font-size: 16px
}
#comments_rule_bcetools a:hover {
    text-decoration: underline
}
.comment-footer {
    float: left
}
